[flake8]
exclude = venv
ignore = E501, W503, E226, F541, E302
max-line-length = 79

# E501: Line too long
# W503: Line break occurred before binary operator
# E226: Missing white space around arithmetic operator
# E302: Expected 2 blank lines, found 1